<!DOCTYPE html>
<html lang="zh-TW" itemscope="itemscope" itemtype="http://schema.org/WebPage">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>願望合夥人-MBTI小測驗</title>
    <link href="#" rel="shortcut icon" />
    <link href="#" rel="apple-touch-icon-precomposed" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="願望合夥人-MBTI小測驗" />
    <meta name="description" content="BIBO源自於西元1990年「映畫製作」拍攝的影視經典代表作「浴火鳳凰」。您與哪種MBTI特質的BIBO相似呢？" />
    <meta property="og:url" content="https://biboverse.com/MBTI/psy" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="願望合夥人-MBTI小測驗" />
    <meta property="og:description" content="BIBO源自於西元1990年「映畫製作」拍攝的影視經典代表作「浴火鳳凰」。您與哪種MBTI特質的BIBO相似呢？" />
    <meta property="og:image" content="https://biboverse.com/MBTI/img/bibo_silhouette.png" />
    <meta property="og:image:width" content="496">
    <meta property="og:image:height" content="496">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="願望合夥人-MBTI小測驗" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1"
    />
    <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon" />

    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link href="../css/quiz.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body class="bg_dots">
    <div id="app">
      <main class="flex justify-center items-center overflow-hidden mr-0">
        <div v-show="step==1" class="w-full py-6" v-cloak>
          <div class="flex flex-col justify-center items-center">
            <div class="my-4">
              <img class="w-64" src="../img/mv_title.svg" />
            </div>
            <div class="my-2">
              <img class="w-80" src="../img/title_mbti_entrance.svg" />
            </div>
            <div class="my-2">
              <div class="w-64" align="center">
                <img src="../img/bibo_silhouette.png" />
              </div>
            </div>
            <div class="my-6 text-center">
              <div>
                <h2 class="text-title font-bold text-xl">
                  測出您是屬於哪種類型的BIBO？
                </h2>
              </div>
              <div class="mt-3">
                <p class="text-content font-bold text-base">
                  BIBO源自於西元1990年「映畫製作」拍攝的<br />影視經典代表作「浴火鳳凰」。<br />您與哪種MBTI特質的BIBO相似呢？
                </p>
              </div>
            </div>
            <div class="flex justify-center items-center my-6 w-80">
              <a
                @click="btnStart()"
                class="btn btn-start text-center w-full"
              >
                <span class="text-2xl font-bold unselectable">開始測驗</span>
              </a>
            </div>
          </div>
        </div>
        <div
          v-show="step==2"
          class="py-6 pt-16 w-full"
          style="max-width: 560px"
          v-cloak
        >
          <div class="">
            <div class="flex flex-col justify-center items-center w-full mt-4">
              <div class="progress-div flex flex-row">
                <div
                  class="progress transition-all duration-300"
                  v-bind:class="'basis-'+ProgressBasis"
                ></div>
              </div>
              <div class="my-2">
                <span
                  class="progress-content text-xl font-bold"
                  v-text="(quizAnswered+1)+'/'+quizData.length"
                ></span>
              </div>
            </div>
            <div class="p-8 flex flex-col justify-around">
              <div
                v-if="quizAnswered < quizData.length"
                class=""
                v-for="(question, index) in quizData"
                :key="question.q"
                v-show="quizAnswered === index"
              >
                <div class="my-6">
                  <h2
                    class="h-24 text-center mb-3 text-2xl quiz-title font-bold"
                  >
                    {{ question.q }}
                  </h2>
                </div>
                <div class="my-6">
                  <div class="flex justify-center items-center my-6 mw-80">
                    <a
                      @click.prevent.stop="checkAnswer(question.answers[0].value)"
                      class="btn quiz-btn-yellow text-center w-full"
                    >
                      <span
                        class="text-xl font-bold unselectable"
                        v-text="question.answers[0].text"
                      ></span>
                    </a>
                  </div>
                  <div class="flex justify-center items-center my-6 mw-80">
                    <a
                      @click.prevent.stop="checkAnswer(question.answers[1].value)"
                      class="btn quiz-btn-blue text-center w-full"
                    >
                      <span
                        class="text-xl font-bold unselectable"
                        v-text="question.answers[1].text"
                      ></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-show="step==3" class="w-full py-6" v-cloak>
          <div class="flex flex-col justify-center items-center w-full mt-4">
            <div class="my-2 px-4">
              <img :src="resultImg" />
            </div>
            <div class="my-2 text-content">
              《長按可儲存圖片，分享給朋友瞧瞧》
            </div>
            <div class="my-2 mt-4">
              <div class="flex justify-center items-center my-2 w-80">
                <a
                  @click.prevent.stop="share()"
                  class="btn quiz-btn-blue text-center w-full"
                >
                  <span class="text-2xl font-bold">分享測驗</span>
                </a>
              </div>
              <div class="text-center text-content">
                <span>《如無法分享，請改用手機瀏覽器開啟》</span>
              </div>
            </div>
            <div class="my-2 mt-4 mb-4">
              <div class="flex justify-center items-center my-2 w-80">
                <a
                  @click.prevent.stop="goHome()"
                  class="btn quiz-btn-blue text-center w-full"
                >
                  <span class="text-2xl font-bold">前往願望合夥人官網</span>
                </a>
              </div>
            </div>
            <div class="my-4">
              <img class="w-64" src="../img/mv_title.svg" />
            </div>
            <div>
              <iframe
                width="98%"
                height="98%"
                src="https://www.youtube.com/embed/vHuMnqHyVK0"
                title="願望合夥人影片"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""
              ></iframe>
            </div>
            <div class="my-4">
              <div class="flex justify-center items-center my-2 w-80">
                <a
                  @click.prevent.stop="reset()"
                  class="btn quiz-btn-blue text-center w-full"
                >
                  <span class="text-2xl font-bold">再玩一次</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        quizData: [
          {
            q: '你做事的方式，會傾向於：',
            answers: [
              {
                text: '提前計畫，並根據計劃行事',
                value: 'Judging',
              },
              {
                text: '在當下決定做什麼',
                value: 'Perceiving',
              },
            ],
          },
          {
            q: '在遇到情感問題時，你更傾向於：',
            answers: [
              {
                text: '以邏輯和分析方式處理問題',
                value: 'Thinking',
              },
              {
                text: '聆聽內心的聲音，考慮感受',
                value: 'Feeling',
              },
            ],
          },
          {
            q: '你做決定時會更注重：',
            answers: [
              {
                text: '過去的經驗和事實',
                value: 'Sensing',
              },
              {
                text: '未來的可能性和創意',
                value: 'Intuition',
              },
            ],
          },
          {
            q: '在工作場合上你更喜歡：',
            answers: [
              {
                text: '與他人合作完成任務 ',
                value: 'Extroversion',
              },
              {
                text: '獨自完成任務',
                value: 'Introversion',
              },
            ],
          },
          {
            q: '你更傾向於：',
            answers: [
              {
                text: '計劃好你的時間表和工作',
                value: 'Judging',
              },
              {
                text: '按照當下的情況彈性應變',
                value: 'Perceiving',
              },
            ],
          },
          {
            q: '你做決定時，會傾向於：',
            answers: [
              {
                text: '考慮周圍人的感受和情況',
                value: 'Feeling',
              },
              {
                text: '用邏輯和分析做出決定',
                value: 'Thinking',
              },
            ],
          },
          {
            q: '你通常會更注重：',
            answers: [
              {
                text: '現實的情況',
                value: 'Sensing',
              },
              {
                text: '未來的可能性',
                value: 'Intuition',
              },
            ],
          },
          {
            q: '當你感到壓力時，你傾向：',
            answers: [
              {
                text: '先讓自己獨處，並冷靜下來',
                value: 'Introversion',
              },
              {
                text: '尋找其他人的支持和幫助',
                value: 'Extroversion',
              },
            ],
          },
          {
            q: '你做事的方式是：',
            answers: [
              {
                text: '有目標地計畫和執行計劃',
                value: 'Judging',
              },
              {
                text: '視當下的情況和靈感做決定',
                value: 'Perceiving',
              },
            ],
          },
          {
            q: '當你跟朋友發生矛盾時，你更傾向：',
            answers: [
              {
                text: '謹慎選擇言辭，避免衝突',
                value: 'Thinking',
              },
              {
                text: '聆聽對方想法給予正向回應',
                value: 'Feeling',
              },
            ],
          },
          {
            q: '在社交場合中，你傾向：',
            answers: [
              {
                text: '和許多人進行交流',
                value: 'Extroversion',
              },
              {
                text: '和少數人進行交流',
                value: 'Introversion',
              },
            ],
          },
          {
            q: '當你要做決定時，你傾向：',
            answers: [
              {
                text: '根據已知的事實做出判斷',
                value: 'Sensing',
              },
              {
                text: '考慮未來的可能性做出判斷',
                value: 'Intuition',
              },
            ],
          },
        ],
        analysisObj: {
          Extroversion: {
            name: 'E',
            count: 0,
          },
          Introversion: {
            name: 'I',
            count: 0,
          },
          Sensing: {
            name: 'S',
            count: 0,
          },
          Intuition: {
            name: 'N',
            count: 0,
          },
          Feeling: {
            name: 'F',
            count: 0,
          },
          Thinking: {
            name: 'T',
            count: 0,
          },
          Judging: {
            name: 'J',
            count: 0,
          },
          Perceiving: {
            name: 'P',
            count: 0,
          },
        },
        quizAnswered: 0,
        resultAnswers: [],
        resultImg: '',
        step: 1,
      }
    },
    computed: {
      ProgressBasis() {
        if (this.quizAnswered + 1 >= this.quizData.length) return 'full'
        else return this.quizAnswered + 1 + '/' + this.quizData.length
      },
    },
    methods: {
      nextStep(t_step) {
        window.scrollTo(0, 0)
        this.step = t_step
      },
      btnStart() {
        const _this = this
        var delay = 100
        setTimeout(function () {
          _this.nextStep(2)
        }, delay)
      },
      checkAnswer(answer) {
        const _this = this
        var delay = 100
        setTimeout(function () {
          _this.resultAnswers.push(answer)
          _this.quizAnswered++

          if (_this.quizAnswered >= _this.quizData.length) {
            _this.setQuizResult()
            _this.nextStep(3)
          }
        }, delay)
      },
      setQuizResult() {
        let result = ''
        for (var key in this.resultAnswers)
          this.analysisObj[this.resultAnswers[key]].count++

        if (
          this.analysisObj['Extroversion'].count <
          this.analysisObj['Introversion'].count
        )
          result = result + this.analysisObj['Introversion'].name
        else result = result + this.analysisObj['Extroversion'].name

        if (
          this.analysisObj['Sensing'].count <
          this.analysisObj['Intuition'].count
        )
          result = result + this.analysisObj['Intuition'].name
        else result = result + this.analysisObj['Sensing'].name

        if (
          this.analysisObj['Feeling'].count < this.analysisObj['Thinking'].count
        )
          result = result + this.analysisObj['Thinking'].name
        else result = result + this.analysisObj['Feeling'].name

        if (
          this.analysisObj['Judging'].count <
          this.analysisObj['Perceiving'].count
        )
          result = result + this.analysisObj['Perceiving'].name
        else result = result + this.analysisObj['Judging'].name

        console.log(this.analysisObj)
        console.log(result)

        this.resultImg = '../img/BIBO_' + result + '.jpg'

        return 'S'
      },
      async share() {
        <!-- const response = await fetch( -->
        <!-- ) -->
        <!-- const blob = await response.blob() -->
        <!-- const file = new File([blob], 'title.png', { type: 'image/png' }) -->
        navigator
          .share({
            title: 'MBTI',
            text: 'MBTI心理測驗',
            url: 'https://biboverse.com/MBTI/psy',
            <!-- files: [file], -->
          })
          .then(() => console.log('成功！'))
          .catch((error) => console.log('發生錯誤', error)) 
      },
      goHome() {
        window.location.href = '../'
      },
      reset() {
        this.quizAnswered = 0
        this.resultAnswers = []
        this.resultImg = ''
        this.nextStep(1)
      },
    },
  }).mount('#app')
</script>
